


<div class="container heiden">
        <a id="heiden"></a>
    
    <section class="text-heiden">
        <hr>
        <h3>Heiden Bujutsu</h3>
        <p>
            Heiden Bujutsu (Martial Arts passed down together with) – In addition to the core skills
            of Staff and Sword, Shinto Muso Ryu came to incorporate a number of related martial arts that served to enhance the
            effectiveness of the Kuroda Police. These arts are gradually taught as a student becomes more experienced in the primary
            skills of this school’s Sword and Staff. Swordsmanship, Short Staff, Sickle & Chain, and Truncheon.
        </p>
    </section>
    <div class="grid">
        <div class="cell text-center" id="box-1">
            <span>
                <h3>Shinto Ryu Kenjutsu</h3>
            </span>
            <span>
                <h3>神道流剣術</h3>
            </span>
            <img src="/images/heiden/kenjutsu-2.jpg" class="heiden-img">
        </div>
        <div class="cell text-center" id="box-2">
            <span>
                <h3>Uchida Ryu Tanjojutsu</h3>
            </span>

            <span>
                <h3>内田流短杖術</h3>
            </span>

            <img src="/images/heiden/tanjo-3b.jpg" class="heiden-img">
        </div>
        <div class="cell text-center" id="box-3">
            <span>
                <h3>Isshin Ryu Kusarigamajutsu</h3>
            </span>
            <span>
                <h3>心流鎖鎌術</h3>
            </span>

            <img src="/images/heiden/kusarigama-small.jpg" class="heiden-img">
        </div>
        <div class="cell text-center" id="box-4">
            <span>
                <h3>Ikkaku Ryu Juttejutsu</h3>
            </span>
            <span>
                <h3>角流十手術</h3>
            </span>

            <img src="/images/heiden/jutte-2-1.jpg" class="heiden-img">
        </div>
    </div>
</div>