
<div class="container history">
    
    <a id="history" class="anchor"></a>
    <div class="grid">
        <hr>
        <h3>History</h3>
        <section class="cell">
            <img src="/images/shrine.jpg" alt="picture of shrine" title="Shrine for Gonnusuke Muso on Mt. Homan" id="img-shrine">
        </section>
        <section class="cell text-history">
            <p>Shinto* Muso-ryu is said to be the oldest style for using a stick (jo) in combat in Japan. It was founded in the early 17th century by Muso Gonnosuke Katsuyoshi, an exponent of Tenshin Shoden Katori Shinto-ryu. Shinto Muso-ryu oral tradition maintains that Gonnosuke once fought Miyamoto Musashi, one of the most famous swordsmen of the time, with a staff (bo ) in a training match and was defeated by Musashi’s cross-block (jujidome) technique.
            </p>
            <p>According to legend, Gonnosuke was dissatisfied with this outcome and retired to Mt. Homan, in what is now Fukuoka Prefecture, in Kyushu, where he engaged in a series of religious austerities, all the while contemplating the reasons for his defeat. Finally, he received “divine” inspiration about a new method of using a staff-like weapon, making it shorter (50 1/4″) and thinner (7/8″) for more rapid manipulation. He devised a number of techniques for this new weapon, which he called a stick (jo) (as opposed to staff or bo), that included the use of the thrust (tsuki) of a spear, strike (utsu) of a sword and staff and sweep (harai) of a naginata. Factual documents of the style (ryu) are quite rare. It is said that there is a record at Tsukuba Shrine, in Ibaragi Prefecture, that reports that Gonnosuke was able to defeat Musashi in a rematch. This story is not recorded elsewhere, however, outside fictional novels, and may not be factual.
            </p>
            <img src="/images/shimizusensei.jpg" alt="picture of Shimizu Takaji" title="Shimizu Takaji, last headmaster of Shinto Muso Ryu" id="img-shimizu">
            <p>There are a total of 64 techniques in Shinto Muso-ryu jo that are divided into a number of sets, each with a different character. Training is systematic and develops the exponent’s technical skills and psychological abilities, from body movement and weapons handling to the proper use of timing, targeting, and distancing, and intense mental or spiritual training, all to enable the exponent to successfully use the weapon in mortal combat. Exponents begin their study of jo by learning a set of twelve basic techniques (kihon waza), which contain all of the style’s essential movements. They then proceed through different sets of techniques of stick versus sword(s): <em>omote, chudan, ran-ai, kage, samidare, gohon no midare,and okuden</em>. A final set, the <em>gokui hiden</em> (also called <em>go muso no jo</em>), consists of techniques that are taught only to exponents who have received a menkyo kaiden,the highest level of license in the system.
            </p>

            <p>Also included in the curriculum of the Shinto Muso-ryu jo are twelve techniques of swordsmanship called <em>Shinto-ryu kenjutsu</em>. The first eight techniques are long sword versus long sword, followed by four techniques that are long sword versus short sword.
            </p>

            <p>There are five levels of recognition in Shinto Muso-ryu jo. They are <em>okuiri-sho, sho-mokuroku, go-mokuroku, menkyo</em> and <em></em>menkyo kaiden</em>. Menkyo kaiden is the style’s highest level of recognition and these exponents are the only people who are legally qualified to teach and promote exponents of Shinto Muso-ryu jo.
            </p>
            <p>In addition to Shinto Muso-ryu jo and Shinto-ryu kenjutsu, a number of separate arts are taught at various points in an exponent’s training. They are considered assimilated arts, and include <em>Uchida-ryu tanjojutsu, Ikkaku-ryu juttejutsu, Isshin-ryu kusarigama-jutsu</em>, and <em>Ittatsu-ryu hojojutsu</em>.
                <hr>
            </p>
            <p>*The name Shinto Muso Ryu can be spelled and pronounced either “Shinto” or “Shindo.” Both are correct.
            </p>
            <p>This text has been adapted from “Field Guide to the Japanese Classical Martial Arts” by Meik & Diane Skoss; the original article can be found in <a href="https://koryu.com/library/wmuromoto1.html" target="_blank" rel="noopener noreferrer" ><em>Sword &amp; Spirit: Classical Warrior Traditions of Japan, volume two.</em></a>
            </p>
        </section>
    </div>
</div>