

<div class="container lineage">
        <a id="lineage" class="anchor"></a>
    <div class="grid">
        <hr>
        <h3>An abridged lineage of Shinto Muso Ryu Jo from establishment in the early 1600s until today.</h3>
        <div class="row">
            <section class="col">
            <!-- <p class="text-center">
                An abridged lineage of Shinto Muso Ryu Jo from establishment in the early 1600s until today.
            </p> -->
        </section>
        </div>
        <div class="row">
            <section class="col">
                <p class="text-center"><strong>Shintō Musō-ryū tradition – Founded early 1600s [1]</strong></p>
                <hr>

                <p>(1). <strong>Iizasa Choisai Ienao</strong> (1387–1488) <em>Founder of Katori Shintō-ryū</em>.</p>

                <p>(2). <strong>Matsumoto Bizen-no-kami Masanobu</strong> (1467–1524) <em>
                        <p>(2). <strong>Matsumoto Bizen-no-kami Masanobu</strong> (1467–1524) Founder of Kashima
                            Jikishinkage-ryū
                            and Kashima Shinryū
                            <p>(2). <strong>Matsumoto Bizen-no-kami Masanobu</strong> (1467–1524)
                    </em></p>

                <p>1. <strong>Muso Gonnosuke Katsuyoshi</strong> – <em>Traditional founder of “True Path”</em> 真道 <em>(Shintō)
                        Musō-ryū</em>.
                    Studied Katori Shinto Ryu & Kashima Jikishinkage Ryu.</p>
                <p>2. <strong>Okubi Mogozaemon Yoshishige</strong> (<em>also known as Kokubi Magozaemon Yoshishige</em>)</p>

                <p>3. <strong>Matsuzaki Kin’emon Shigekatsu</strong> – Credited [3] with creating two new separate arts
                    which are taught alongside SMR – Also a practitioner of Itto-ryu Kenjutsu.</p>

                <p>4. <strong>Higuchi Han’emon Katsunobu</strong> – The last <em>Headmaster</em> of a unified SMR –
                    Separate lineages of Gonnosuke's Jō-art appear, headed by their own headmasters.</p>
            </section>
        </div>

        <div class="row">
            <section class="col">
                <p class="text-center"><strong>The “New Just” 新當 (Shintō) Musō-ryū tradition</strong></p>
                <hr>

                <p>5. <strong>Harada Heizo Nobusada</strong> (died 1733) – Establishes the “New Just” 新當 (Shintō )
                    Musō-ryū
                    tradition. (informally known during this period as “Kansai-ryū” which is a reference to a title of
                    Harada Heizo.)</p>

                <p>6. <strong>Hara Shiemon Ujisada</strong> (died 1754)</p>

                <p>7. <strong>Nagatomi Koshiro</strong> (1717–1772), last Headmaster of “The New Just” – On his death,
                    The
                    “New Just” 新當 (Shintō) Musō-ryū branches of into two new lines headed by students of the last “New
                    Just” headmaster.</p>
            </section>

            <section class="col">
                <p class="text-center"><strong>The “True Path” 真道 (Shintō ) Musō-ryū tradition- Later known as
                        Moroki-ryū</strong></p>
                <hr>


                <p>5. <strong>Yokota Hanzaburo</strong> – Continues the original “True Path” 真道(Shintō) Musō-ryū.</p>

                <p>6. <strong>Moriki Keichi</strong> (died 1784) – Establishes Moriki-branch (Moroki-ryū).</p>

                <p>7.<strong>Inoue Ryosuke</strong> (died 1821) – Line broken with his death.</p>
            </section>
        </div>

        <div class="row">
            <section class="col">
                <p class="text-center"><strong>Haruyoshi branch</strong></p>
                <hr>

                <p>8.<strong>Ono Kyusaku Tomotoki</strong> (died 1807) – Establishes Haruyoshi branch of “New Just” 新當
                    (Shintō) Musō-ryū around 1796.</p>

                <p>9. <strong>Nagatomi Jinzo Yusai</strong> (died 1822)</p>

                <p>10. <strong>Hirano Kichizo Noei</strong> (died 1871)</p>

                <p>11. <strong>Yoshikawa Wataru Toshimasa</strong></p>

                <p>12. <strong>Hirano Saburo</strong>, (1837–1916) – Last Headmaster of the Haruyoshi – Tradition
                    merged
                    with the “Jigyo” tradition to form the “Way of the gods” 神道 (Shintō) Musō-ryū later under Shiraishi
                    Hanjiro</p>
            </section>

            <section class="col">
                <p class="text-center"><strong>Jigyo branch</strong></p>
                <hr>

                <p>8. <strong>Komori Seibei Mitsuaki</strong> Establishes Jigyo branch of “New Just” 新當 (Shinto)
                    Muso-ryu
                    around 1796.</p>

                <p>9. <strong>Fujimoto Heikichi Norinobu</strong> (died 1815) – Line broken with his death in 1815.</p>

                <p>10. <strong>Hatae Kyuhei Norishige</strong> (died 1829) – Originally from the Haruyoshi-tradition –
                    Reestablishes Jigyo-branch.</p>

                <p>11. <strong>Yoshimura Hanjiro</strong> – Last Headmaster of “Jigyo” – Tradition merged with the
                    “Haruyoshi” tradition to form the “Way of the gods” 神道 (Shintō) Musō-ryū later under Shiraishi
                    Hanjiro.</p>
            </section>

            <section class="col">
                <p class="text-center"><strong>The “True Path” 真道 (Shintō) Musō-ryū tradition- Later known as
                        Moroki-ryū</strong></p>
                <hr>

                <p>8. <strong>Hatae Kyuhei</strong> – Line reestablished.</p>

                <p>9.<strong>Yamazaki Koji</strong> – Last Headmaster of “True Path” 真道 (Shintō) Musō-ryū. Named
                    “Shujo-ryū” by its last Headmaster – Line broken in the Bakumatsu era, (1850–1867), never
                    reestablished. [2]</p>
            </section>
        </div>


        <div class="row">
            <section class="col">
                <p class="text-center"><strong>“Way of the gods” 神道 (Shintō) Musō-ryū – late 19th century to present time</strong></p>
                <hr>

                <p><strong>Jigyo and Haruyoshi branches joined into a single ryū.</strong></p>

                <p>24. <strong>Shiraishi Hanjiro Shigeaki</strong> (1842–1927) – Was originally a lower class warrior and exponent of both the “Haruyoshi” and “Jigyo” traditions.[1] After the fall of the Tokugawa and the Feudal-system, Shiraishi is issued a joint-license of the largest two surviving branches of the Kuroda-jō, the “Haruyoshi” and “Jigyo”-branch. The result of the merge is a new single tradition that was named “Way of the Gods” 神道 (Shintō) Musō-ryū, with Shiraishi being the sole leader by the early 1900s. Shiraishi was considered the arts 24th headmaster.</p>

                <p>25. <strong>Shimzu Takaji</strong> (1896–1978) – A student of Shiraishi Hanjiro. Is considered by some to be the 25th[5] headmaster of Shintō Musō-ryū, but was never officially appointed by Shiraishi. Shimizu died in 1978 without naming a successor.</p>

                <p>26. A 26th headmaster has never been formally appointed by a unified SMR-community. Otofuji Ichizo is sometimes mentioned in this capacity but it was never formally recognized. Otofuji remained in Fukuoka after Shimizu left for Tokyo, and continued to teach Kyushu focused Shinto Muso Ryu until passing away in 1999.</p>

                <p><strong>Nishioka Tsuneo</strong> (1924-2014) – Began training at the age of 14 in 1938 with Shimizu Takaji and studied with Shimizu Sensei until his passing in 1978. Nishioka created the Sei Ryu Kai in honor of Shimizu Takaji after he passed on.</p>

                <p><strong>Philip Relinick</strong> (b1938 ) – student of Shimizu Takaji & Nishioka Tsuneo, began studying Jo in 1962 at the Tokyo Rembukan under Shimizu Takaji. He lived and worked in Japan for almost 40 years after serving in the Air Force. He continued Jodo study under Nishioka Tsuneo after Shimizu Takaji passed away in 1978. Instrumental in formation of International Jodo Federation (IJF), Pan-American Jodo Federation, and Japan Martial Arts Society (JMAS). Relnick Sensei also studied Kodokan Judo, and is a Menkyo & Shidosha in Tenshin Shoden Katori Shinto Ryu. He teaches Shinto Muso Ryu Jo and Katori Shinto Ryu today.</p>
            </section>


        </div>
        <div class="references">
            <section class="col">
                <p>
                    <strong>References</strong>
                </p>
                <p>1. <a href="https://en.wikipedia.org/wiki/History_of_Shint%C5%8D_Mus%C5%8D-ry%C5%AB">Wikipedia –
                        History of Shinto Muso Ryu Jo</a></p>
                <p>2. Matsui, Kenji. 1993. The History of Shindo Muso Ryu Jojutsu, translated by Hunter
                    Armstrong (Kamuela, HI: International Hoplological Society)</p>
                <p>3. Krieger, Pascal – Jodô – la voie du bâton / The way of the stick (bilingual
                    French/English), Geneva (CH) 1989, ISBN 2-9503214-0-2</p>
            </section>
        </div>
    </div>
</div>