<div class="container main">

    <div class="grid">
        <div class="cell img">
            <img src="/images/landingPage/<%= img %>" alt="" title="Main picture" class="main img">
        </div>
        <h3>What is Shinto Muso Ryu?</h3>
        <div class="cell text-intro">

            <p>On the main landing page, I propose a relatively brief description of what Shinto Muso Ryu is with a more detailed description on the About pages</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum, molestias nemo! Amet, ipsum explicabo, cupiditate sunt quas commodi repellat, a distinctio sit reprehenderit natus. Adipisci sequi tenetur nobis. Distinctio, molestias?</p>
            <p>Odio, nulla deleniti? Perspiciatis, ab ad repudiandae nam voluptatum corporis modi repellat temporibus doloremque sed provident officiis consequatur iusto placeat explicabo at maiores ipsum, culpa nulla! Facere iste sequi eligendi!</p>
        </div>

    </div>


</div>