
<div class="container teachers">
    <a id="teachers" class="anchor"></a>
    <div class="grid">
        <hr>
        <h3>Teachers</h3>
        <section class="cell">
            <img src="/images/teachersPage/<%= img %>" alt="" class="img teachers" id="img-teacher">

        </section>
        <section class="cell text-teachers">
            <h3>Philip Relnick</h3>
            <p>Shinto Muso Ryu Jo (Jodo / Jojutsu) is taught at the Shintokan Dojo under the direct tutelage of Phil Relnick, Menkyo Kaiden. Relnick Sensei is a student of Shimizu Takaji and Nishioka Tsuneo.
            </p>
            <p>Relnick Sensei spent almost 40 years living and working in Japan after leaving the US Air Force. He is a graduate of Waseda University, and worked for several large companies before starting his own business consulting practice in Tokyo. All the while studying martial arts, including Kodokan Judo, Shinto Muso Ryu Jo, and Tenshin Shoden Katori Shinto Ryu. Through this extensive time living/working/studying in Japan directly from Koryu teachers, Relnick Sensei developed a truly deep understanding of the Japanese martial arts and culture. He, along with Donn Draeger and a few others opened the doors to the study of Koryu Bujutsu for foreigners in Japan in the 1960’s and 70’s.
            </p>
            <p>Relnick Sensei began Shinto Muso ryu Jo under Shimizu Takaji Sensei in 1962 at the Tokyo Rembukan Dojo. He assisted Shimizu Takaji and Donn Draeger in establishing the International Jodo Federation (IJF), which helped spread Jo to Asia, the Americas, and to Europe. Relnick Sensei was president of the IJF before handing the reins to Pascal Krieger Sensei. He continued Jodo study under Nishioka Tsuneo after Shimizu Takaji passed away in 1978. He was also instrumental in formation of the Japan Martial Arts Society (JMAS) and Pan-American Jodo Federation, and assisted Donn Draeger in the formation of the International Hoplology Society.
            </p>
            <p>Relnick Sensei invited Nishioka Sensei to join and teach at various IJF events. Nishioka Sensei, being an early/pre-war student of Shimizu Takaji Sensei, brought forward a clarity regarding the importance of Uchidachi (swordsman) of kata in Shinto Muso Ryu Jo, which helped to revitalize many aspects of Shinto Muso Ryu Jo and Tachi use.
            </p>
            <p>Relnick Sensei is a also Menkyo-Shidosha in Tenshin Shoden Katori Shinto Ryu and a direct student of Otake Risuke. He teaches Shinto Muso Ryu Jo and Katori Shinto Ryu today at his Shintokan Dojo in Woodinville, WA.</p>
        </section>
    </div>
</div>