body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans",Arial,sans-serif;
    background-color: #606060;
    color: #000;
    background-image: url("../images/washi.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    
  }
  * {
    margin: 0;
    padding: 0;
    
  }
  html    {
    font-size: calc(.5em + 1vw);
    
}
.container {
  padding: 0;
}

p {
  line-height: 1.5;
  font-weight: 500;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  
}


hr {
  width: calc(100% - 2rem);
  background-color: gray !important;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  margin-bottom: .5rem;
  font-size: 1.5rem;
  text-align: center;
}
a {
  text-decoration: underline;
  /* color: #f0d800 */
  color: darkblue;
} 
.anchor{
  display: block;
  height: 2rem;
  margin-top: -2rem;
}


/*  nav bar */
nav {
  background-color: #aba9aa;
  width: 100%; 
}

nav h1 {
    margin-top: 0;
    margin-bottom: 0;
}
.navbar {
  /* display: flex;
  justify-content: space-between; */
  opacity: 1;
  z-index: 99;
}

#navbarNavDropdown {
  margin-right: auto;
  justify-content: flex-end;
}

.navbar-brand span:first-child {
  margin-right: 2em;
}
.navbar ul {
  text-align: center;
  
}
.navbar li:hover {
  background-color: lightslategray;
}
.dropdown-menu {
  background-color: #6c757d;
  
}
.dropdown-menu a:hover {
  background-color: lightslategray;
}
.dropdown-item {
  color: #fff;
  text-align: center;
}

.cell img{
  display: block;
  width: 100%;
  margin-bottom: 1rem;
border: 1px solid gray;

}


/* heiden page */
.heiden .grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* history page */
#img-shimizu {
  border: none;
}

/* Media queries */
@media screen and (min-width: 600px) {
  .container {
    max-width: 100%;
  }
  .heiden .cell {
    width: calc(50% - 2rem);
  }
}
/* history page */
#img-shimizu {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 768px){
  p {
    padding-left: 2rem;
    padding-right: 1.5rem;
  }
  #img-shimizu {
    max-width: 40%;
    float: right;
  }
  
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 1em;
  }
  .heiden .cell {
    width: calc(25% - 2rem);
  }
  h3 {
    font-size: 1rem;
  }
  
  #img-shimizu {
    max-width: 35%;
  }
  hr {
    width: calc(100% - 4rem);
    max-width: 1440px;
  }
}
@media screen and (min-width: 1220px) {
  .text-history hr {
    width: calc(60% - 2rem);
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  #img-shimizu {
      max-width: 20%;
  }
  .container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .heiden .grid {
    
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
  hr, .text-history hr {
    width: calc(100% - 1rem);
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1600px) {
  p {
    padding-left: 0;
    padding-right: 0;
  }
}

